@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    width: 98.5%;
    margin: 1rem auto 0 auto;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

/* ############### utility class ############### */

.container{
    width: 1000px;
    width: 90%;
    margin: auto;
}

.header{
    height: 120vh;
    background: url("./img/pexels-chaitaastic-1796736.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}



/* ####################### navbar styling ##################### */

.navbar-container input[type='checkbox'],
.navbar-container .hamburger-lines{
    display: none;
}

.menu-items{
    display: flex;
}

.menu-items li{
    font-size: 1.6rem;
    text-transform: uppercase;
    padding:  2.5rem 1rem;
    margin-left: 2rem;
}

.menu-items a{
    color: #222;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}


.menu-items a:hover{
    color: #2a9722;
    
}

.travel i{
    position: absolute;
    top: 14%;
    left: 7%;
    margin-right: 2rem;
}

.navbar{
    box-shadow: 0 5px 10px 0 #aaa;
    background: #fff;
    color: black;
    opacity: 0.85;
    z-index: 999;
    padding: 2rem;
}

.navbar-container{
    display: flex;
    justify-content: space-evenly;
    height: 75px;
}

.logo{
    font-size: 2rem;
    color: #0d350a;
    font-style: italic;
    transition: color 0.2s ease-in-out;
}

.logo:hover{
    color: #666;
}

.travel{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
 
.travel p{
    font-size: 1.6rem;
    font-weight: 600;
}


.check{
    border: 3px solid #0d350a;
    border-radius: 1rem;
}

input[type='text']{
    display: block;
    background: none;
    outline: none;
    border: none;
    padding: 0 5.5rem;
    font-size: 2rem;
    height: 40px;
    
}

.head-nav{
    height: 50px;
    background: #41fd33;
}

.btn{
    display: block;
    padding: 0.9rem 3rem 0 3rem;
    font-size: 1.6rem;
    border: 3px solid #222;
    color: #222;
    border-radius: 3rem;
    margin-left: 5rem;
    height: 50px;
    margin-top: 1.5rem;
}

.menu-items .btn:hover{
    background: #41fd33;
    color: #fff;
    outline: none;
   
}

.travel{
    display: flex;
}

.travel i{
    color: #0d350a;
}




.menu-items i{
    position: absolute;
    top: 16.5%;
    left: 73%;
}

.head-nav{
    display: flex;
    padding: 1rem;
    justify-content: space-around;
}

.head-navbar{
   display: flex;
   padding: 0.5rem 1rem;
}

.address{
    margin-right: 2rem;
}

.address i{
    display: inline-block;
    color: #fff;
   
}

.address p{
    display: inline-block;
    font-size: 1.6rem;
    color: #fff;
    font-weight: 500;
   
}

.symbol{
    color: #fff;
    padding: 0.5rem 1rem;
    
}

.symbol i{
   margin-left: 2rem;
}



.company i{
    display: inline-block;
    color: #fff;
    
}

.company p{
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 500;
    color: #fff;
}

.less i{
    font-size: 5rem;
    position: absolute;
    top: 23%;
    left: 23%;
}

.less{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: 65%;
    left: 5%;
    background: #ddcaca;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.header:hover .less{
    opacity: 1;
}



.greater{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: 65%;
    left: 85%;
    background: #ddcaca;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.header:hover .greater{
    opacity: 1;
}

.greater i{
    font-size: 5rem;
    position: absolute;
    top: 23%;
    left: 23%;
}

/* ################ welcome styling ################ */

.welcome{
    padding: 10rem 0;
    
}

.to{
   margin-bottom: 7rem;
}

.welcome-container{
    display: flex;
    justify-content: space-between;
}

.to{
    font-size: 4rem;
    text-align: center;
    font-weight: 600;
    color: #555;
}

.img-box{
    width: 200px;
    
}

.text-box{
    text-align: center;
    font-size: 1.8rem;
    margin-top: 1.5rem;
    color: #666;
    
}



.volunteer .text-box{
   margin-top: 2.5rem;
}

.earth .text-box{
    margin-top: 3.5rem;
}

.earth h1{
    display: inline-block;

}

.heart .text-box{
    margin-top: 3.5rem;
}

.heart h1{
    display: inline-block;
}

.heart p{
    display: inline-block;
}

.earth p{
    display: inline-block;
}

.text-box p{
    font-size: 2.5rem;
    color: #2a9722;
}

.img-box img{
    display: block;
    width: 100%;
    background: #fff;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.news{
       font-size: 1.8rem; 
       position: absolute;
       font-weight: 500;
       top: 22%;
       left: 65%;
       /* border: 2px solid #fff; */
       background: #f5f5f7;
       padding: 1rem  2rem 1rem 2rem;
       border-radius: 1rem;
       opacity: 0;
       text-align: left;
       transition: opacity 0.3s ease-in-out;
       color: #666;
    }

    .show:hover .news{
        opacity: 1;
    }

    
   /* ################# story container ################ */

   .story{
      padding: 5rem 0;
   }

   .story-container{
       display: flex;
   }

















/* #################### media queries ###################### */

@media (max-width: 500px){
    html{
        font-size: 50%;
    }

    .navbar-container input[type='checkbox'],
    .navbar-container .hamburger-lines{
        display: block;
    }

    input[type='checkbox']{
        width: 40px;
        height: 32px;
        position: absolute;
        top: 17%;
        left: 5%;
        z-index: 2;
        opacity: 0;
    }

    .navbar-container input[type='checkbox']:checked ~ .menu-items{
          transform: translate(0);
          
    }

    .navbar-container .hamburger-lines{
        display: block;
        width: 40px;
        height: 32px;
        /* background: lightseagreen; */
        position: absolute;
        top: 17%;
        left: 5%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
       
    }

    .hamburger-lines .line{
        display: block;
        width: 100%;
        height: 5px;
        background: #222;
        border-radius: 10px;
    }

    .menu-items{
        display: block;
        /* border: 2px solid green; */
        padding-top: 100px;
        margin-left: -40px;
        background: #fff; 
        margin-top: -30px;
        height: 100vh;
        padding-right: 0;
        transform: translateX(-150%);
        transition: transform 0.3s ease-in-out;
    }

    .btn{
        display: inline-block;
        margin: 10px;
        padding: 10px 30px;
    }

    .menu-items i{
        position: absolute;
        top: 52%;
        left: 17%;
    }

    

    .head-navbar{
        display: flex;
        
       
    }

    .address{
       
        margin: 0 150px 1.5rem 0;
        
    }

    .header{
        width: 100%;
        
    }

    
    .greater{
        display: block;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        position: absolute;
        left: 80%;
    }

    .greater i{
        position: absolute;
        top: 20%;
    }

    .less{
        display: block;
         width: 60px;
        height: 60px;
        border-radius: 50%;
        
    }

    .less i{
        position: absolute;
        top: 20%;
    }

    
   
    .head-nav{
        height: 75px;
        
    }

    .symbol{
        display: none;
    }

    .travel{
        margin: 0;
    }

    .travel{
        display: block;
    }

    .navbar-container{
        display: block;
    }

    .travel i{
        position: absolute;
        top: 16%;
        left: 38%;
    }

    .logo{
        position: absolute;
        top: 16%;
        left: 50%;
    }

    .non{
        position: absolute;
        top: 20%;
        left: 50%;
    }

    .travel{
        display: block;
        margin: 0 0;
    }

   

    


}