@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    width: 98.5%;
    margin: 1rem auto 0 auto;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

/* ############### utility class ############### */

.container{
    width: 1000px;
    width: 90%;
    margin: auto;
}

.header{
    height: 120vh;
    background: url("./img/pexels-chaitaastic-1796736.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}



/* ####################### navbar styling ##################### */

.navbar-container input[type='checkbox'],
.navbar-container .hamburger-lines{
    display: none;
}

.menu-items{
    display: flex;
}

.menu-items li{
    font-size: 1.6rem;
    text-transform: uppercase;
    padding:  2.5rem 1rem;
    margin-left: 2rem;
}

.menu-items a{
    color: #222;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}


.menu-items a:hover{
    color: #2a9722;
    
}

.travel i{
    position: absolute;
    top: 14%;
    left: 7%;
    margin-right: 2rem;
}

.navbar{
    box-shadow: 0 5px 10px 0 #aaa;
    background: #fff;
    color: black;
    opacity: 0.85;
    z-index: 999;
    padding: 2rem;
    /* position: fixed;
    top: 0;
    width: 100%; */
}



.navbar-container{
    display: flex;
    justify-content: space-evenly;
    height: 75px;
}

.logo{
    font-size: 2rem;
    color: #0d350a;
    font-style: italic;
    transition: color 0.2s ease-in-out;
}

.logo:hover{
    color: #666;
}

.travel{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
 
.travel p{
    font-size: 1.6rem;
    font-weight: 600;
}


.check{
    border: 3px solid #0d350a;
    border-radius: 1rem;
}

input[type='text']{
    display: block;
    background: none;
    outline: none;
    border: none;
    padding: 0 5.5rem;
    font-size: 2rem;
    height: 40px;
    
}

.head-nav{
    height: 50px;
    background: #41fd33;
}

.btn{
    display: block;
    padding: 0.9rem 3rem 0 3rem;
    font-size: 1.6rem;
    border: 3px solid #222;
    color: #222;
    border-radius: 3rem;
    margin-left: 5rem;
    height: 50px;
    margin-top: 1.5rem;
}

.menu-items .btn:hover{
    background: #41fd33;
    color: #fff;
    outline: none;
   
}

.travel{
    display: flex;
}

.travel i{
    color: #0d350a;
}




.menu-items i{
    position: absolute;
    top: 16.5%;
    left: 73%;
}

.head-nav{
    display: flex;
    padding: 1rem;
    justify-content: space-around;
}

.head-navbar{
   display: flex;
   padding: 0.5rem 1rem;
}

.address{
    margin-right: 2rem;
}

.address i{
    display: inline-block;
    color: #fff;
   
}

.address p{
    display: inline-block;
    font-size: 1.6rem;
    color: #fff;
    font-weight: 500;
   
}

.symbol{
    color: #fff;
    padding: 0.5rem 1rem;
    
}

.symbol i{
   margin-left: 2rem;
   cursor: pointer;
}



.company i{
    display: inline-block;
    color: #fff;
    
}

.company p{
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 500;
    color: #fff;
}

.less i{
    font-size: 5rem;
    position: absolute;
    top: 23%;
    left: 23%;
}

.less{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: 65%;
    left: 5%;
    background: #ddcaca;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.header:hover .less{
    opacity: 1;
}



.greater{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: 65%;
    left: 85%;
    background: #ddcaca;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.header:hover .greater{
    opacity: 1;
}

.greater i{
    font-size: 5rem;
    position: absolute;
    top: 23%;
    left: 23%;
}

/* ################ welcome styling ################ */

.welcome{
    padding: 10rem 0;
    
}

.to{
   margin-bottom: 7rem;
}

.welcome-container{
    display: flex;
    justify-content: space-between;
}

.to{
    font-size: 4rem;
    text-align: center;
    font-weight: 600;
    color: #555;
}

.img-box{
    width: 200px;
    
}

.text-box{
    text-align: center;
    font-size: 1.8rem;
    margin-top: 1.5rem;
    color: #666;
    
}

.earth-container{
    background: #fff;
    padding: 2rem;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;

    }

    .earth-container:hover{
        box-shadow: 5px 5px 10px 0 #aaa;
        
        
    }






.volunteer .text-box{
   margin-top: 2.5rem;
}

.earth .text-box{
    margin-top: 3.5rem;
}

.earth h1{
    display: inline-block;

}

.heart .text-box{
    margin-top: 3.5rem;
}

.heart h1{
    display: inline-block;
}

.heart p{
    display: inline-block;
}

.earth p{
    display: inline-block;
}

.text-box p{
    font-size: 2.5rem;
    color: #2a9722;
}

.img-box img{
    display: block;
    width: 100%;
    background: #fff;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.news{
       font-size: 1.8rem; 
       position: absolute;
       font-weight: 500;
       top: 22%;
       left: 65%;
       /* border: 2px solid #fff; */
       background: #f5f5f7;
       padding: 1rem  2rem 1rem 2rem;
       border-radius: 1rem;
       opacity: 0;
       text-align: left;
       transition: opacity 0.3s ease-in-out;
       color: #666;
    }

    .show:hover .news{
        opacity: 1;
    }

    
   /* ################# story container ################ */

   .story{
      padding: 10rem 0;
      background: #f5f5f7;
      position: relative;
   }

   .story-container{
       display: flex;
   }

   .story-img{
     width: 500px;
     
   }

   .story-img img{
    display: block;
    width: 100%;
     padding: 1rem;
    height: 700px;
    border-radius: 3rem;
    object-fit: cover;
   }

   .story-text{
     width: 530px;
     padding: 1rem 2rem;
     background: #cecece;
     border-radius: 3rem;
     height: 350px;
     margin-top: 1rem;
     margin-left: 1.5rem;
     position: absolute;
     top: 12%;
     left: 50%;
   }

   .our{
      font-size: 4rem;
       margin-top: 2rem;
       color: #444;
       font-weight: 600;
   }

   .kind{
       font-size: 2.5rem;
       margin-top: 1rem;
       color: #fff;
   }

   .para{
      font-size: 1.8rem;
      margin-top: 1.5rem;
      color: #666;
      font-weight: 500;
   }

   .mission-text{
      position: absolute;
      top: 52%;
      left: 51%;
      width: 250px;
      height: 300px;
      background: #cecece;
      border-radius: 3rem;
      margin-top: 3rem;
      padding: 2rem;
      
   }

   .mission{
      font-size: 2.5rem;
      color: #fff;
      }

   .sed{
      font-size: 2rem;
   }

   .mission-text p{
       margin-top: 1rem;
   }

   .same{
      font-size: 1.6rem;
      font-weight: 500;
      
   }

   .same::before{
      content: '\2713';
      font-size: 2rem;
      color: #fff;
      font-weight: 600;
   }

   .found-text{
      position: absolute;
      top: 52%;
      left: 75%;
      width: 250px;
      height: 300px;
      background: #cecece;
      border-radius: 3rem;
      margin-top: 3rem;
      padding: 3.5rem 5rem;
   }

   .number{
      font-size: 5.5rem;
      color: #fff;
   }

   .found{
      font-size: 1.6rem;
      font-weight: 500;
   }



   /* #####################  partner styling ################# */

   .partner{
       max-width: 800px;
       margin: auto;
       padding: 8rem 0;
       position: relative;
   }

   .partner-container{
      display: flex;
   }

   .partner-img{
      width: 350px;
   }

   .partner-img img{
      display: block;
      width: 100%;
      height: 400px;
      object-fit: cover;
      padding: 1rem;
      border-radius: 3rem;
   }

   .partner-text{
      width: 400px;
      padding: 1rem;
      position: absolute;
      top: 25%;
      left: 50%;
      
   }

   .san{
       font-size: 4rem;
   }

   .co{
       font-size: 1.5rem;
   }

   .lo{
      font-size: 1.6rem;
      margin-top: 1rem;
      color: #555;
      font-weight: 500;
   }

   .partner-text i{
      margin-top: 2rem;
      padding: 0 1rem;
      transition: color 0.3s ease-in-out;
   }

   .partner-text i:hover{
      color: #aaa;
   }

    /* ############### impact styling ################## */

    .impact{
        padding: 8rem 0;
         background: #cdcdcd;
    }

    .impact-container{
         width: 800px;
         margin: auto;
         position: relative;
         overflow: initial;
        
    }

    .impact h1{
        font-size: 4rem;
        color: #555;
        
    }

    .impact p{
        font-size: 1.6rem;
        position: absolute;
        top: 55%;
        left: 50%;
        font-weight: 500;
        
    }

    .become{
        display: inline-block;
        background: #555;
        padding: 1rem 2rem;
        color: #fff;
        font-size: 2rem;
        border-radius: 3rem;
        position: absolute;
        top: 45%;
        left: 69%;
    }

    .become:hover{
        background: #222;
        box-shadow: 5px 5px 10px 0 #aaa;
    }

    /* ################### cause styling ################ */

    .causes{
        padding: 8rem 0;
        max-width: 1200px;
        margin: auto;
    }

    .cause-know{
        display: flex;
        flex-direction: row;
    }

   
    
    .heading{
        text-align: center;
        font-size: 4rem;
        margin-bottom: 2rem;
        color: #555;
    }

    .cause-img{
        width: 380px;
    }

    .cause-img img{
        display: block;
        width: 100%;
        border-radius: 3rem;
        height: 250px;
    }

    .cause-item{
        margin: 0 0.5rem;
    }

    .cause-text{
        width: 400px;
    }

    .child{
        font-size: 2.5rem;
        margin-top: 2rem;
        color: #41fd33;
        text-align: left;
    }

    .sit{
        font-size: 1.6rem;
        width: 350px;
        margin: 2rem 0;
        color: #555;
    }

    .sit-1::after{
        content: '';
        display: block;
        border: 3px solid #666;
        border-radius: 2rem;
        margin: 2rem 0;
        width: 50%;
        
    }

    .sit-2::after{
        content: '';
        display: block;
        border: 3px solid #666;
        border-radius: 2rem;
        margin: 2rem 0;
        width: 70%;
        
    }

    .sit-3::after{
        content: '';
        display: block;
        border: 3px solid #666;
        border-radius: 2rem;
        margin: 2rem 0;
        width: 80%;
        
    }

   
    .currency-item{
        display: flex;
        justify-content: space-between;
        width: 350px;
    }

    .currency{
        display: inline-block;
        font-size: 1.6rem;
        color: #41fd33;
    }

    span{
        color: #555;
    }

    .donate{
        display: block;
        font-size: 2rem;
        padding: 1rem 2rem;
        color: #fff;
        background: #555;
        border-radius: 3rem;
        text-align: center;
        margin-top: 3rem;
        width: 90%;
        
    }

    .donate:hover{
        background: #aaa;
        box-shadow: 5px 5px 10px 0 #454545;
    }

    /* #################### volunteer-text #################### */

    .volunteer-text{
        padding: 8rem 0;
        background: #cfcfcf;
        position: relative;
        
    }

    .volunteer-text h1{
        text-align: left;
        font-size: 4rem;
        color: #fff;
        margin-left: 3rem;
    }

    .volunteer-text-container{
        display: flex;
        justify-content: space-between;
    }

    .file-text{
        background: #fff;
        width: 550px;
        padding: 0 3rem;
        border-radius: 3rem;
        margin-top: 3rem;
    }

    .file-text h2{
        color: #555;
    }

    .volunteer-texts{
        text-align: center;
    }

    .be{
        font-size: 3rem;
        margin-top: 3rem;
        margin-bottom: 2rem;
        color: #222;
        
    }

    input[type='text']{
        display: inline-block;
        background: rgb(179, 212, 221);
        border-radius: 1rem;
        width: 200px;
        height: 50px;
        margin-bottom: 4rem;
        text-align: left;
        padding-left: 10px;
    }

    input[type='email']{
        display: inline-block;
        background: rgb(179, 212, 221);
        border-radius: 1rem;
        width: 260px;
        outline: none;
        border: none;
        height: 50px;
        margin-bottom: 2rem;
        text-align: left;
        font-size: 2rem;
        margin-left: 2rem;
        padding-left: 10px;
    }

    input.sub{
        width: 480px;
    }

    .team{
        background: rgb(179, 212, 221);
        border: none;
        outline: none;
        font-size: 2rem;
        width: 480px;
        border-radius: 1rem;
        height: 100px;
        padding-top: 1rem;
        padding-left: 10px;
        margin-top: 2rem;
    }

     input{
        font-size: 2rem;
        text-align: left;
        margin-bottom: 2rem;
     } 

     input[type='file']{
         background: rgb(179, 212, 221);
         border-radius: 1rem;
         height: 50px;
         padding-top: 1rem;
         display: block;
         width: 480px;
         overflow: calc(none);
     }

     .submit{
        display: block;
        background: #555;
        color: #fff;
        font-size: 2rem;
        width: 100%;
        border-radius: 3rem;
        text-align: center;
        margin-top: 2rem;
        padding: 0.8rem 0;
        margin-bottom: 4rem;
     }

     .submit:hover{
        background: #aaa;
        box-shadow: 5px 5px 10px 0 #232323;
     }

     .volunteer-image{
         width: 300px;
     }

     .volunteer-image img{
         display: block;
         width: 100%;
         height: 300px;
         border-radius: 50%;
         background: #fff;
         object-fit: cover;
     }


     .volunteer-texts h2{
         font-size: 2.5rem;
         color: #fff;
         margin: 4rem 0 3rem 0;
     }

     .volunteer-texts p{
         font-size: 1.6rem;
         line-height: 1.8;
         color: #555;
     }

     .position-container{
          position: absolute;
          top: 13%;
          left: 60%;

     }
    
    





/* #################### media queries ###################### */

@media (max-width: 500px){
    html{
        font-size: 50%;
    }

    .navbar-container input[type='checkbox'],
    .navbar-container .hamburger-lines{
        display: block;
    }

    input[type='checkbox']{
        width: 40px;
        height: 32px;
        position: absolute;
        top: 17%;
        left: 5%;
        z-index: 2;
        opacity: 0;
    }

    .navbar-container input[type='checkbox']:checked ~ .menu-items{
          transform: translate(0);
          
    }

    .navbar-container .hamburger-lines{
        display: block;
        width: 40px;
        height: 32px;
        /* background: lightseagreen; */
        position: absolute;
        top: 17%;
        left: 5%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
       
    }

    .hamburger-lines .line{
        display: block;
        width: 100%;
        height: 5px;
        background: #222;
        border-radius: 10px;
    }

    .menu-items{
        display: block;
        /* border: 2px solid green; */
        padding-top: 100px;
        margin-left: -40px;
        background: #fff; 
        margin-top: -30px;
        height: 100vh;
        padding-right: 0;
        transform: translateX(-150%);
        transition: transform 0.3s ease-in-out;
    }

    .btn{
        display: inline-block;
        margin: 10px;
        padding: 10px 30px;
    }

    .menu-items i{
        position: absolute;
        top: 52%;
        left: 17%;
    }

    

    .head-navbar{
        display: flex;
        
       
    }

    .address{
       
        margin: 0 150px 1.5rem 0;
        
    }

    .header{
        width: 100%;
        
    }

    
    .greater{
        display: block;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        position: absolute;
        left: 80%;
    }

    .greater i{
        position: absolute;
        top: 20%;
    }

    .less{
        display: block;
         width: 60px;
        height: 60px;
        border-radius: 50%;
        
    }

    .less i{
        position: absolute;
        top: 20%;
    }

    
   
    .head-nav{
        height: 75px;
        
    }

    .symbol{
        display: none;
    }

    .travel{
        margin: 0;
    }

    .travel{
        display: block;
    }

    .navbar-container{
        display: block;
    }

    .travel i{
        position: absolute;
        top: 16%;
        left: 38%;
    }

    .logo{
        position: absolute;
        top: 16%;
        left: 50%;
    }

    .non{
        position: absolute;
        top: 20%;
        left: 50%;
    }

    .travel{
        display: block;
        margin: 0 0;
    }

    .welcome-container{
         display: flex;
         flex-direction: column;
    }

    .img-box img{
        
         width: 200px;
         margin: auto;
    }

    .earth-container{
         padding: 3rem;
         width: 250px;
         margin: 2rem auto;
          height: 300px;
    }

    .story{
        height: 150vh;
    }

    .story-container{
        display: block;

    }

    .story-img {
        height: auto;
        
    }

    .story-img img{
        width: 100%;
    }

    .story-text{
        width: auto;
    }

    .mission-text{
        width: auto;
        position: unset;
         height: auto;
         
    }

    .found-text{
        width: auto;
       position: unset;
        height: auto;
       
    }

    .partner-container{
       display: flex;
       flex-direction: column;
       justify-content: space-between;
    }

    .partner-img{
        width: 100%;
        
    }

    .partner-text{
        position: unset;
        text-align: center;
        width: auto;
    }

   

    


}